# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/

# Pytest
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
